@font-face {
    font-family: "vt323-v15-latin";
    src: url("./vt323-v15-latin/vt323-v15-latin-regular.eot");
    src: url("./vt323-v15-latin/vt323-v15-latin-regular.woff2") format('woff2'),
         url("./vt323-v15-latin/vt323-v15-latin-regular.woff") format('woff'),
         url("./vt323-v15-latin/vt323-v15-latin-regular.ttf") format('truetype');
}

@font-face {
    font-family: "poppins";
    src: url("./Poppins/Poppins-Regular.ttf") format('truetype')
         
}