@import "cores";

.container {
    margin-top: 1px;
    height: 100%;
}

.side-menu {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $cor-branca;
    box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
    border-right: 1px solid #bfc3c7;
    border-right-color: #f4f5f7;
    height: 100%;
    width: 100%;
    scrollbar-width: none;
}

.opcao-menu {
    font-size: 12px;
    line-height: normal;
    padding: 20px;
    border-bottom: 1px solid #bfc3c7;
    border-right: 1px solid #bfc3c7;
    border-color: #e3e4e8;
    color: $cor-nao-selecionado;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    word-break: break-word;
    cursor: pointer;
}

.container-opcao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opcao-selecionada {
    color: $cor-destaque;
    border-left: 4px solid $cor-destaque;
}

.opcao-menu:hover {
    background-color: #f1f5f8;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}