/* You can add global styles to this file, and also import other style files */
@import "cores";
@import '~@mdi/font/css/materialdesignicons.css';
@import "custom-fonts";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'arial', sans-serif;
    // font-family: 'vt323-v15-latin', 'arial', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    // line-height: 21px;
    color: rgba(0, 0, 0, 0.8);
    background-color: $cor-fundo-principal;
    scroll-behavior: smooth;
}

.painel-central {
    margin: 0.85rem 0.80rem 0.85rem;
    min-height: 96.2%;
    border-radius: 5px;
    background-color: $cor-branca;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}